<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ controller_name }}{% endblock %}</title>
        <link rel="icon" href="https://www.1min30.com/wp-content/uploads/2018/05/Couleur-logo-P%C3%B4le-Emploi.jpg">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include 'header-nav.html.twig' %}
    </header>

    <main>
        {% block body %}
            <div class="container">
        {% endblock %}
    </main>
    </body>
</html>
